* {
  margin: 0;
  padding: 0;
}

.menu {
  background-color: rgb(8, 8, 56);
}

.banner {
  background-image: url("./images/blue-butterfly.jpg");
  background-position: center;
  background-size: cover;
  height: 35vh;
  margin-top: 80px;
}

.gamebox {
  width: 200;
  height: 200;
  box-shadow: 10px;
}

.nav-footer {
  height: 60px;
  background-color: rgb(8, 8, 56);
}

.imagebox {
  border: 3px solid black;
}
